@theme {
  /* Primary Brand Color */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-primary: #BABABA;
  --color-secondary: #D9452D;
  --color-background: #181818;

  /* Typography */
  --font-primary: 'Catamaran', sans-serif;
  --font-secondary: 'Raleway', sans-serif;
}

